{% load static %}
<style>
    .logo .logo-link {
        display: inline-flex;
        align-items: center;
        transition: opacity .3s ease;
    }
    .logo .logo-link:hover {
        opacity: .85;
    }
    .logo .logo-img {
        height: 120px;
        width: auto;
        display: block;
    }
    @media (max-width: 767px) {
        .logo .logo-img {
            height: 90px;
        }
    }
</style>
<div id="header-1" class="header-area">
    <div id="header-sticky">
        <div class="navigation">
            <div class="container">
                <div class="header-inner-box">

                    <!-- Logo -->
                    <div class="logo">
                        <a class="navbar-brand logo-link" href="{% url 'site_:index' %}">
                            <img src="{% static 'front/assets/img/logo/logo_dream.png' %}" alt="Dream Consulting Com" class="logo-img">
                        </a>
                    </div>

                    <!-- Main Menu -->
                    <div class="main-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a class="navlink" href="{% url 'site_:index' %}">Accueil</a></li>

                            <li><a class="navlink" href="#">Services</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'site_:branding' %}">Branding</a></li>
                                    <li><a href="{% url 'site_:photographie' %}">Photographie</a></li>
                                    <li><a href="{% url 'site_:video' %}">Vidéo</a></li>
                                    <li><a href="{% url 'formation:list' %}">Formations</a></li>
                                </ul>
                            </li>   

                            <li><a class="navlink" href="{% url 'site_:apropos' %}">À propos</a></li>

                            <li><a class="navlink" href="{% url 'site_:contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    
                    <div class="header-right">
                        
                        <div class="contact-number d-none d-xl-inline-flex">
                            <div class="icon"><i class="las la-phone-volume"></i></div>
                            <div class="title"><h6>+224 611 73 02 93</h6></div>
                        </div>
                        <!-- Header Button -->
                        <a href="{% url 'site_:demande_avis' %}" class="theme-btn d-none d-lg-inline-block">Demander un Devis</a>                                                        
                    </div>

                    <!-- Mobile Menu -->
                    <div class="mobile-nav-bar d-block col-sm-1 col-6 d-lg-none">
                        <div class="mobile-nav-wrap">
                            <div id="hamburger">
                                <i class="las la-bars"></i>
                            </div>
                            <!-- mobile menu - responsive menu  -->
                            <div class="mobile-nav">
                                <button type="button" class="close-nav">
                                    <i class="las la-times-circle"></i>
                                </button>
                                <nav class="sidebar-nav">
                                    <ul class="metismenu" id="mobile-menu">
                                        <li><a href="{% url 'site_:index' %}">Accueil</a></li>
        
                                        <li><a class="has-arrow" href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li><a href="{% url 'site_:branding' %}">Branding</a></li>
                                                <li><a href="{% url 'site_:photographie' %}">Photographie</a></li>
                                                <li><a href="{% url 'site_:video' %}">Vidéo</a></li>
                                                <li><a href="{% url 'formation:list' %}">Formations</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li><a href="{% url 'site_:apropos' %}">À propos</a></li>
                                        <li><a href="{% url 'site_:contact' %}">Contact</a></li>

                                    </ul>
                                </nav>
                                <div class="action-bar">
                                    <a href="mailto:dreamconsulting224@gmail.com"><i class="las la-envelope"></i>dreamconsulting224@gmail.com</a>
                                    <a href="tel:+224611730293"><i class="fal fa-phone"></i>+224 611 73 02 93</a>
                                    <a href="{% url 'site_:demande_avis' %}" class="theme-btn">Demander un Devis</a>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>