{% load static %}

<div id="process-1" class="process-section section-padding pt-0 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title">
                    <h2 class="visible-slowly-right">De la consultation à <span>l'excellence</span>, étape par étape</h2>
                    <p class="pt-20 wow fadeInUp animated" data-wow-delay=".4s">Chaque projet photo ou événement est traité pas à pas, qu'il s'agisse d'un mariage, d'un portrait ou d'un événement d'entreprise.</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-4 text-md-end">
                <a href="process.html" class="bordered-btn">Notre Processus <i class="fa-light fa-arrow-right"></i></a>
            </div>
        </div>            
    </div>        
        <div class="row mt-30 process-bg-wrap align-items-center justify-content-center" data-background="{% static 'front/assets/img/process-bg.jpg' %}">
            <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInLeft animated" data-wow-delay="200ms">
                <div class="single-process-item">
                    <div class="process-icon">
                        <img src="{% static 'front/assets/img/icon/collection.png' %}" alt="">
                        <span class="step-count">1.</span>
                        <div class="process-line d-none d-md-inline-block"></div>
                    </div>
                    <div class="process-title">
                        <h5>Consultation</h5>
                    </div>
                    <div class="process-content">
                        <p>Nous échangeons avec vous pour comprendre vos attentes, votre style et les détails de votre projet.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInLeft animated" data-wow-delay="400ms">
                <div class="single-process-item">
                    <div class="process-icon">
                        <img src="{% static 'front/assets/img/icon/pickup.png' %}" alt="">
                        <span class="step-count">2.</span>
                        <div class="process-line d-none d-lg-inline-block"></div>
                    </div>
                    <div class="process-title">
                        <h5>Préparation</h5>
                    </div>
                    <div class="process-content">
                        <p>Nous planifions la séance ou l'événement : lieu, matériel, décor et déroulé sur mesure.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInLeft animated" data-wow-delay="600ms">
                <div class="single-process-item">
                    <div class="process-icon">
                        <img src="{% static 'front/assets/img/icon/processing.png' %}" alt="">
                        <span class="step-count">3.</span>
                        <div class="process-line d-none d-md-inline-block"></div>
                    </div>
                    <div class="process-title">
                        <h5>Prise de Vue</h5>
                    </div>
                    <div class="process-content">
                        <p>Le jour J, nous capturons chaque instant et chaque émotion avec un matériel professionnel.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInLeft animated" data-wow-delay="800ms">
                <div class="single-process-item">
                    <div class="process-icon">
                        <img src="{% static 'front/assets/img/icon/recycling.png' %}" alt="">
                        <span class="step-count">4.</span>
                    </div>
                    <div class="process-title">
                        <h5>Livraison</h5>
                    </div>
                    <div class="process-content">
                        <p>Après retouche, nous vous livrons des images et vidéos soigneusement éditées et prêtes à partager.</p>
                    </div>
                </div>
            </div>
        </div>        
 </div>