{% load static %}

<div id="home-1" class="homepage-slides owl-carousel">

    <div class="single-slide-item d-flex align-items-center" data-background="{% static 'front/assets/img/slider/dream_slider_1.jpeg' %} ">            
        <div class="overlay-2"></div>
        <div class="hero-area-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-10 wow fadeInUp animated" data-wow-delay=".2s">
                        <div class="section-title">
                            <h6 class="text-white">Capturez l'instant, vivez l'émotion !</h6>
                            <h1 class="text-white"><span>Dream Consulting Com</span> <br> Photographie & Événementiel</h1>
                        </div>
                        <p class="text-white">Nous immortalisons vos moments les plus précieux et sublimons vos événements <br> avec créativité, passion et professionnalisme.</p>
                        <a href="{% url 'site_:photographie' %}" class="white-btn mt-40">Nos Services <i class="fa-light fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-slide-item d-flex align-items-center" data-background="{% static 'front/assets/img/slider/dream_slider_2.jpeg' %} ">
        <div class="overlay-4"></div>
        <div class="hero-area-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-10 wow fadeInUp animated" data-wow-delay=".2s">
                        <div class="section-title">
                            <h6 class="text-white">Chaque image raconte une histoire</h6>
                            <h1 class="text-white">Des Souvenirs <br> <span>Inoubliables</span> pour Toujours</h1>
                        </div>
                        <p class="text-white">Mariages, portraits, cérémonies ou événements d'entreprise : nous mettons notre talent <br> au service de vos plus beaux instants.</p>
                        <a href="{% url 'site_:photographie' %}" class="white-btn mt-40">Nos Services <i class="fa-light fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="single-slide-item d-flex align-items-center" data-background="{% static 'front/assets/img/slider/dream_slider_3.jpeg' %} ">
        <div class="overlay-4"></div>
        <div class="hero-area-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-10 wow fadeInUp animated" data-wow-delay=".2s">
                        <div class="section-title">
                            <h6 class="text-white">Votre vision, notre objectif</h6>
                            <h1 class="text-white">Sublimons <span>Ensemble</span> <br> Vos Événements</h1>
                        </div>
                        <p class="text-white">De la conception à la réalisation, nous créons des expériences uniques <br> et des images d'exception qui vous ressemblent.</p>
                        <a href="{% url 'site_:photographie' %}" class="white-btn mt-40">Nos Services <i class="fa-light fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>  

</div>