{% load static %}
<div class="testimonial-section section-padding pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="section-title">
                    <h2 class="visible-slowly-right">Vrais Clients, Vrais <span>Avis</span>, Vraie Qualité !</h2>                        
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-5 text-md-end">
                <a href="services.html" class="bordered-btn">Nos Services <i class="fa-light fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="testimonial-one owl-carousel">
                <div class="single-testimonial-item">
                    <div class="testimonial-quote">
                        <img src="{% static 'front/assets/img/quote.png' %}" alt="">
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-text">
                            <p>Une équipe exceptionnelle ! Ils ont su capturer chaque instant de notre mariage avec une sensibilité incroyable. Les photos sont magnifiques et reflètent parfaitement l'émotion de cette journée. Un immense merci pour ce travail d'exception.</p>
                        </div>
                        <div class="testimonial-author">
                            <img src="{% static 'front/assets/img/testimonial/2-1.jpg' %}" alt="">
                            <h5>Aïssatou Diallo</h5>
                            <span>Mariée</span>
                        </div>
                    </div>   
                                        
                </div>
                <div class="single-testimonial-item">
                    <div class="testimonial-quote">
                        <img src="{% static 'front/assets/img/quote.png' %}" alt="">
                    </div>
                    <div class="testimonial-content">
                        <div class="testimonial-text">
                            <p>Nous avons fait appel à eux pour couvrir notre événement d'entreprise et le résultat a dépassé toutes nos attentes. Professionnalisme, ponctualité et créativité étaient au rendez-vous. Les vidéos et photos sont d'une qualité remarquable.</p>
                        </div>
                        <div class="testimonial-author">
                            <img src="{% static 'front/assets/img/testimonial/2-2.jpg' %}" alt="">
                            <h5>Mamadou Barry</h5>
                        <span>Directeur, Événementiel</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>